@import "../variables.scss";

.nav {
  position: fixed;
  top: -56px;
  left: 0px;
  transition: top 0.2s ease 0s;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 2;
  &.top {
    top: 0;
  }
  nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: $colors-backgroundAlt;
    border-bottom: 1px solid $colors-cardBorder;
    transform: translate3d(0px, 0px, 0px);
    padding-left: 16px;
    padding-right: 16px;
    transition: top 0.2s ease 0s;
    z-index: 20;
  }

  .header-left {
    display: flex;
    align-items: center;
    height: 100%;
    &__logo {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 160px;
        }
        .logo-desktop {
          @media screen and (max-width: 993px) {
            display: none;
          }
        }
        .logo-mobile {
          display: none;
          @media screen and (max-width: 993px) {
            display: block;
            width: 32px;
          }
        }
      }
    }
    &__links {
      display: flex;
      margin-left: 24px;
      .link-head {
        position: relative;
        a {
          position: relative;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          color: $colors-textSubtle;
          font-size: 16px;
          font-weight: 400;
          opacity: 1;
          pointer-events: inherit;
          padding: 0px 16px;
          height: 48px;
          &:hover {
            background: $colors-tertiary;
            border-radius: 16px;
          }
        }
      }
      .link-content {
        position: absolute;
        background-color: $colors-backgroundAlt;
        border: 1px solid $colors-cardBorder;
        border-radius: 16px;
        padding-bottom: 4px;
        padding-top: 4px;
        margin-bottom: 0px;
        width: 280px;
        z-index: 1001;
        visibility: hidden;
        a {
          -webkit-box-align: center;
          align-items: center;
          border: 0px;
          background: transparent;
          color: $colors-textSubtle;
          cursor: pointer;
          font-weight: 400;
          display: flex;
          font-size: 16px;
          height: 48px;
          -webkit-box-pack: justify;
          justify-content: space-between;
          outline: 0px;
          padding-left: 16px;
          padding-right: 16px;
          width: 100%;
          pointer-events: inherit;
          &:hover {
            background-color: $colors-tertiary;
          }
          &:hover:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
          &:hover:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
          .enter-icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .link-1:hover .link-content {
        visibility: visible;
        display: block;
      }
      .link-2:hover .link-content {
        visibility: visible;
      }
      .link-3:hover .link-content {
        visibility: visible;
      }
      .link-4:hover .link-content {
        visibility: visible;
      }
      .link-5:hover .link-content {
        visibility: visible;
      }
      @media screen and (max-width: 852px) {
        display: none;
      }
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    height: 100%;
    .currency-price {
      display: block;
      margin-right: 12px;
      a {
        display: flex;
        align-items: center;
        img {
          transition: transform 0.3s ease 0s;
          flex-shrink: 0;
          margin-right: 8px;
          &:hover {
            transform: scale(1.2);
          }
        }
        .text-currency {
          color: $colors-textSubtle;
          font-weight: 600;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      @media screen and (max-width: 993px) {
        display: none;
      }
    }
    .lang-select-container {
      margin-top: 4px;

      .lang-select {
        position: relative;
        button {
          background: transparent;
          border: none;
          position: relative;
          -webkit-box-align: center;
          align-items: center;
          border: 0px;
          border-radius: 16px;
          cursor: pointer;
          display: inline-flex;
          font-family: inherit;
          font-weight: 600;
          -webkit-box-pack: center;
          justify-content: center;
          letter-spacing: 0.03em;
          line-height: 1;
          opacity: 1;
          outline: 0px;
          transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
          height: 20px;
          font-size: 12px;
          padding: 0px 8px;
          background-color: transparent;
          color: $colors-primary;
          vertical-align: sub;
          box-shadow: none;
          img {
            margin-right: 0.5rem;
          }
          &:hover {
            opacity: 0.65;
          }
        }
        &-content {
          position: absolute;
          width: max-content;

          flex-direction: column;
          position: absolute;
          transform: translate(-50%, 0px);
          left: 50%;
          bottom: auto;
          background-color: $colors-backgroundAlt;
          box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, 0.1), 0px 1px 1px rgba(25, 19, 38, 0.05);
          padding: 16px;
          max-height: 200px;
          overflow: auto;
          z-index: 10;
          border-radius: 4px;
          opacity: 0;
          transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
          will-change: opacity;
          display: none;
          button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            background-color: transparent;
            box-shadow: none;
            color: $colors-text;
            padding: 0px 8px;
            border-radius: 8px;
            min-height: 32px;
            height: auto;
          }
          &::-webkit-scrollbar-thumb {
            background: $colors-textSubtle;
            border-radius: 8px;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $colors-input;
            border-radius: 10px;
          }
          &::-webkit-scrollbar {
            width: 8px;
          }
        }
        &:hover {
          .lang-select-content {
            visibility: visible;
            opacity: 1;
            max-height: 200px;
            display: flex;
          }
        }
      }
    }
    .settings {
      height: 100%;
      display: flex;
      align-items: center;
      button {
        background: transparent;
        border: none;
        padding: 0px;
        width: 32px;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
        border: 0px;
        border-radius: 16px;
        cursor: pointer;
        display: inline-flex;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        -webkit-box-pack: center;
        justify-content: center;
        letter-spacing: 0.03em;
        line-height: 1;
        opacity: 1;
        outline: 0px;
        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
        height: 32px;
        padding: 0px 16px;
        background-color: transparent;
        color: $colors-primary;
        box-shadow: none;
        margin-right: 8px;
        &:hover {
          opacity: 0.65;
        }
      }
    }
    .network-select {
      height: 100%;
      margin-right: 8px;
      display: flex;
      align-items: center;
      position: relative;
      &-link {
        -webkit-box-align: center;
        align-items: center;
        background-color: $colors-tertiary;
        border-radius: 16px;
        box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
        cursor: pointer;
        display: inline-flex;
        height: 32px;
        padding-left: 32px;
        padding-right: 8px;
        position: relative;
        .link-img {
          left: 0px;
          position: absolute;
          top: 0px;
          z-index: 102;
          img {
            max-height: 32px;
            max-width: 32px;
            width: 100%;
          }
        }
        .link-text {
          color: $colors-text;
          font-weight: 600;
          display: none;
          @media screen and (min-width: 576px) {
            display: block;
            margin-left: 8px;
            margin-right: 4px;
          }
          &-desktop {
            @media screen and (max-width: 1080px) {
              display: none;
            }
          }
          &-mobile {
            display: none;

            @media screen and (max-width: 1080px) {
              display: block;
            }
            @media screen and (max-width: 576px) {
              display: none;
            }
          }
        }
      }
      .network-select-content {
        background-color: $colors-backgroundAlt;
        border: 1px solid $colors-cardBorder;
        border-radius: 16px;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 280px;
        z-index: 1001;

        visibility: hidden;
        position: absolute;
        top: 50px;

        left: calc(10% - 70px);
        @media screen and (max-width: 1080px) {
          left: calc(10% - 136px);
        }
        .network-select-text {
          padding: 8px 16px;
          .text-Subtle {
            color: $colors-textSubtle;
            font-weight: 400;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        button {
          -webkit-box-align: center;
          align-items: center;
          border: 0px;
          background: transparent;
          color: $colors-textSubtle;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          height: 48px;
          -webkit-box-pack: justify;

          outline: 0px;
          padding-left: 16px;
          padding-right: 16px;
          width: 100%;
          img {
            color: transparent;
            max-height: 24px;
            height: auto;
            max-width: 100%;
          }
          .btn-text {
            font-weight: 600;
            line-height: 1.5;
            padding-left: 12px;
            font-size: 16px;
          }
          &.active .btn-text {
            color: $colors-secondary;
          }
          &:hover {
            background-color: $colors-tertiary;
          }
          &:hover:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
          &:hover:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
      &:hover {
        .network-select-content {
          visibility: visible;
        }
      }
    }
    .connect-wallet-btn {
      position: relative;
      -webkit-box-align: center;
      align-items: center;
      border: 0px;
      border-radius: 16px;
      box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
      cursor: pointer;
      display: inline-flex;
      font-family: inherit;
      font-size: 16px;
      font-weight: 600;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.03em;
      line-height: 1;
      opacity: 1;
      outline: 0px;
      transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
      height: 32px;
      padding: 0px 16px;
      background-color: $colors-primary;
      color: $colors-invertedContrast;
      &:hover {
        opacity: 0.65;
      }
      &-desktop {
        @media screen and (max-width: 852px) {
          display: none;
        }
      }
      &-mobile {
        display: none;
        @media screen and (max-width: 852px) {
          display: block;
        }
      }
    }
  }
  hr {
    border-color: $colors-cardBorder;
    border-style: solid;
    border-width: 1px 0px 0px;
    margin: 4px 0px;
  }
}
.sectionsContainer {
  margin-top: 56px;
}
.mobile-nav {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background: $colors-backgroundAlt;
  border-top: 1px solid $colors-cardBorder;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  @media screen and (min-width: 852px) {
    display: none;
  }
  &-link,
  &-btn {
    a {
      display: block;
      border: 0px;
      background: transparent;
      cursor: pointer;
      height: 44px;
      padding: 4px 12px;
      .container {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        img {
          height: 22px;
          width: 21px;
          z-index: 0;
          fill: $colors-textSubtle;
        }
      }
    }
    button {
      display: block;
      border: 0px;
      background: transparent;
      cursor: pointer;
      height: 44px;
      padding: 4px 12px;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 16px;
      .container {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        img {
          height: 22px;
          width: 21px;
          z-index: 0;
          fill: $colors-textSubtle;
        }
      }
      &:hover {
        background: $colors-tertiary;
      }
      &.active {
        .mobile-nav-menu {
          display: block;
        }
      }
    }
    &-text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      user-select: none;
      color: $colors-textSubtle;
      line-height: 1.5;
      font-weight: 400;
      font-size: 10px;
    }
    &.active {
      .mobile-nav-menu {
        display: block;
        z-index: 21;
      }
    }
  }
  &-menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: red;
    background-color: $colors-backgroundAlt;
    border: 1px solid $colors-cardBorder;
    border-radius: 16px;
    padding-bottom: 4px;
    padding-top: 13px;
    pointer-events: auto;
    margin-bottom: 0px;
    width: calc(100% - 32px);
    visibility: visible;
    z-index: 1001;
    position: absolute;
    inset: auto auto 0px 0px;
    transform: translate3d(0px, -50px, 0px);
    z-index: 21;
    left: 15px;
    a {
      color: $colors-textSubtle;
      padding-left: 16px;
      padding-right: 16px;
      height: 48px;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    hr {
      border-color: $colors-cardBorder;
      border-style: solid;
      border-width: 1px 0px 0px;
      margin: 4px 0px;
    }
  }
}
.overlay {
  &.active {
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $colors-text99;
    z-index: 18;
    -webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -ms-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
  }
}
#modal::before {
  transition: 350ms;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $colors-text99;
  z-index: 21;
  transition: 350ms;
}

.modal-content {
  box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
  width: 100%;
  background: $colors-backgroundAlt;
  max-height: calc(var(9.5px, 1vh) * 100);
  z-index: 100;
  position: absolute;
  min-width: 320px;
  bottom: 0px;
  min-height: 300px;
  max-width: none !important;
  overflow: hidden;
  border-radius: 32px 32px 0px 0px;
  animation: 0.3s ease-in-out 0s 1 normal forwards running gSuUIu;
  @media screen and (min-width: 852px) {
    width: auto;
    bottom: auto;
    max-height: 100vh;
    border-radius: 32px;
    animation: 0s ease 0s 1 normal none running none;
    left: calc(50% - 258px);
    top: calc(50% - 239px);
  }
  .theme-select {
    position: relative;
    width: 56px;
    height: 32px;
    overflow: hidden;
    &-outer {
      position: relative;
      will-change: opacity;

      &.appear {
        animation: 0.3s ease-in-out 0s 1 normal forwards running fGxCd;
      }
    }
    &-inner {
      -webkit-box-align: center;
      align-items: center;
      background-color: $colors-textDisabled;
      border-radius: 24px;
      box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
      cursor: pointer;
      display: inline-flex;
      height: 32px;
      position: relative;
      transition: background-color 200ms ease 0s;
      width: 56px;
      input {
        cursor: pointer;
        opacity: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 3;
        &:checked + .selected-theme {
          right: calc(100% - 30px);
        }
        &:hover + .selected-theme {
          box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
        }
      }

      .selected-theme {
        background-color: $colors-backgroundAlt;
        border-radius: 50%;
        cursor: pointer;
        height: 26px;
        right: 3px;
        position: absolute;
        top: 3px;
        transition: right 200ms ease-in 0s;
        width: 26px;
        z-index: 1;
        div {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          height: 100%;
          img {
            align-self: center;
            fill: $colors-secondary;
            flex-shrink: 0;
          }
        }
      }
      .theme-selection-options {
        display: flex;
        justify-content: space-around;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }
  &-header {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: $colors-gradientCardHeader;
    padding: 12px 24px;
    span {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: $colors-text;
      @media screen and (min-width: 968px) {
        font-size: 20px;
      }
    }
    button {
      position: relative;
      -webkit-box-align: center;
      align-items: center;
      border: 0px;
      border-radius: 16px;
      cursor: pointer;
      display: inline-flex;
      font-family: inherit;
      font-size: 16px;
      font-weight: 600;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.03em;
      line-height: 1;
      opacity: 1;
      outline: 0px;
      transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
      height: 48px;

      background-color: transparent;
      color: $colors-primary;
      box-shadow: none;
      padding: 0px;
      width: 48px;
    }
  }
  &-middle {
    flex-direction: column;
    overflow: hidden auto;
    max-height: calc(90vh - 73px);
    padding: 24px;
    display: flex;
    @media screen and (min-width: 852px) {
      max-height: 90vh;
    }
    ul > li {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;

      span {
        color: $colors-text;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
      }
      &:first-child {
        color: $colors-secondary;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 24px;
        font-size: 18px;
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      &:last-child {
        display: flex;
        flex-direction: column;

        justify-content: start;
        span {
          margin-bottom: 24px;
        }
        .li-btns {
          display: flex;
          @media screen and (max-width: 480px) {
            flex-wrap: wrap;
          }
          button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            white-space: nowrap;
            border: 0px;
            border-radius: 16px;
            box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 32px;
            padding: 0px 16px;
            background-color: $colors-primary;
            color: $colors-invertedContrast;
            margin-top: 4px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
