* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  width: 100vw;
  background: radial-gradient(103.12% 50%, rgb(33, 25, 58) 0%, rgb(25, 19, 38) 100%);
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.hover:hover {
  opacity: 0.65 !important;
}

@import './variables.scss';
@import './header';
@import './footer';
@import './atomic/scrollbar/scrollbar.scss';
@import './carousel';
@import './firstSection';
@import './secondSection/secondSection.scss';
@import './thirdSection';
@import './fifthSection/fifthSection.scss';
@import './sixthSection/sixthSection.scss';
@import './seventhSection/seventhSection.scss';
@import './eighthSection/eighthSection.scss';
@import './scrollToTop';
@import './swap/swap.scss';
@import './pages/pool.scss';
@import './ifo-page';
@import './pages/PAGE1/index.scss'
