* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background: radial-gradient(
    103.12% 50%,
    rgb(33, 25, 58) 0%,
    rgb(25, 19, 38) 100%
  );
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.hover:hover {
  opacity: 0.65 !important;
}

@import '../styles/variables.scss';
@import '../styles/header';
@import '../styles/footer';
@import '../styles/atomic/scrollbar/scrollbar.scss';
@import '../styles/carousel';
@import '../styles/firstSection';
@import '../styles/secondSection/secondSection.scss';
@import '../styles/thirdSection';
@import '../styles/fifthSection/fifthSection.scss';
@import '../styles/sixthSection/sixthSection.scss';
@import '../styles/seventhSection/seventhSection.scss';
@import '../styles/eighthSection/eighthSection.scss';
@import '../styles/scrollToTop';
@import '../styles/swap/swap.scss';
@import '../styles/pages/pool.scss';
@import '../styles/ifo-page';
@import '../styles/teams/teams.scss';
