.competition_welcome {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
.competition_top_select {
    height: 80vh;
    width: 100vw;
    background-color: antiquewhite;
}

Footer {
    margin-top: 10rem;
}