@import '../variables.scss';


.teams-content {
  background-color: #08060b;
  .teams-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    // border: 3px solid #b8add2;
    .teams-header {
      border-bottom: 2px solid #b8add2;
      margin-bottom: 24px;
      padding-bottom: 24px;
      h1 {
        color: #9a6aff;
        font-weight: 600;
        line-height: 1.1;
        font-size: 64px;
      }
      div {
        color: #f4eeff;
        font-weight: 600;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .teams-header2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      h2 {
        color: #f4eeff;
        font-size: 40px;
      }
    }
    .team-box {
      margin-bottom: 16px;
      background-color: #383241;
      border-radius: 24px;
      color: #f4eeff;
      overflow: hidden;
      position: relative;
      padding: 1px 1px 3px;
      display: flex;
      vertical-align: baseline;
      .number-box {
        align-self: stretch;
        background: linear-gradient(
          139.73deg,
          rgb(20, 35, 57) 0%,
          rgb(36, 36, 61) 47.4%,
          rgb(55, 39, 63) 100%
        );
        width: 56px;
        flex: 0 0 auto;
        padding: 16px 0;
        text-align: center;
        div {
          font-size: 24px;
          font-weight: 600;
          line-height: 1.5;
        }
      }
      .tb-content {
        background-color: #27262c;
        align-items: center;
        flex-direction: row;
        font-size: 40px;
        display: flex;
        flex: 1 1 0%;
        padding: 24px;
        .team-info {
          flex: 1 1 0%;
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;
          .team-name {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.1;
          }
          .team-moto {
            color: #b8add2;
            font-weight: 400;
            line-height: 1.5;
            padding-right: 24px;
            margin-top: 16px;
            margin-bottom: 16px;
            font-size: 16px;
            justify-self: center;
          }
          .team-member-info {
            display: flex;
            justify-content: space-between;
            max-width: 310px;
            .coming-soon {
              display: flex;
              svg {
                align-self: center;
                fill: #666171;
                margin-right: 8px;
                color: #666171;
                flex-shrink: 0;
              }
              div {
                color: #666171;
                font-weight: 600;
                line-height: 1.5;
                font-size: 24px;
              }
            }
            .members {
              display: flex;
              svg {
                align-self: center;
                fill: #f4eeff;
                margin-right: 8px;
                color: #f4eeff;
                flex-shrink: 0;
              }
              div {
                color: #f4eeff;
                font-weight: 600;
                line-height: 1.5;
                font-size: 24px;
              }
            }
          }
        }
        .see-more {
          margin-right: 21px;
          color: inherit;
          text-decoration: none;
          button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 16px;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 32px;
            padding: 0px 16px;
            background-color: transparent;
            border-width: 2px;
            border-style: solid;
            border-image: initial;
            border-color: #1fc7d4;
            box-shadow: none;
            color: #1fc7d4;
          }
        }
        .team-avatar {
          border-radius: 50%;
          height: 128px;
          width: 128px;
          max-width: 100%;
        }
      }
    }
  }
}