.scrollToTop {
  position: fixed;
  right: 5%;
  bottom: calc(110px);
  width: 48px;
  height: 48px;
  z-index: 5;
  display: none;

  .scrollButton {
    cursor: pointer;
    background-color: rgb(31, 199, 212);
    border-radius: 16px;
    border-width: 0px;
    width: 48px;
    height: 48px;
    transition-duration: 0.2s, 0.2s;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;

    &:hover {
      opacity: 0.65;
    }
    .scrollButtonImg {
      width: 20px;
    }
  }
}

.hidden {
  display: block;
  animation: fadeOut 0.5s linear;
}

.visible {
  display: block;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
