@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Dark thme colors */
@keyframes first {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes second {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes third {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes fourth {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(4px, 12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.seventhSection {
  background: #08060b;
  padding: 96px 24px;
}
.seventhSection .top {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.seventhSection .top .images {
  position: relative;
  height: 100%;
  width: 430px;
}
.seventhSection .top .images img {
  height: auto;
  width: 100%;
}
.seventhSection .top .images .first, .seventhSection .top .images .second, .seventhSection .top .images .third, .seventhSection .top .images .fourth {
  position: absolute;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.seventhSection .top .images .first {
  animation-name: first;
  animation-delay: 1s;
  right: -10px;
}
.seventhSection .top .images .second {
  animation-name: second;
  animation-delay: 650ms;
}
.seventhSection .top .images .third {
  animation-name: third;
  animation-delay: 350ms;
}
.seventhSection .top .images .fourth {
  animation-name: fourth;
}
.seventhSection .top .content {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seventhSection .top .content .title {
  max-width: 430px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  color: #f4eeff;
}
.seventhSection .top .content .title span {
  color: #9a6aff;
}
.seventhSection .top .content .text {
  max-width: 430px;
  margin: 24px 0;
  color: #b8add2;
}
.seventhSection .top .content .btn_link {
  display: flex;
  align-items: center;
}
.seventhSection .top .content .btn_link button {
  width: 124px;
  height: 48px;
  background-color: #1fc7d4;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.5px;
  color: #120b21;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  transition: 0.2s;
  cursor: pointer;
}
.seventhSection .top .content .btn_link button:hover {
  background-color: #2496a5;
}
.seventhSection .top .content .btn_link button:active {
  transform: translate(0px, 1px);
  transition: inherit;
}
.seventhSection .top .content .btn_link a {
  margin-left: 16px;
  text-decoration: none;
  color: #1fc7d4;
  font-weight: 600;
}
.seventhSection .top .content .btn_link a:hover {
  text-decoration: underline;
}
.seventhSection .bottom {
  max-width: 920px;
  margin: auto;
}
.seventhSection .bottom .columns {
  display: grid;
  grid-template-areas: "circulating total max" "market burned current";
  margin-top: 24px;
}
.seventhSection .bottom .columns .circulating {
  grid-area: circulating;
  margin-bottom: 36px;
}
.seventhSection .bottom .columns .total {
  grid-area: total;
  margin-bottom: 36px;
}
.seventhSection .bottom .columns .max {
  grid-area: max;
  margin-bottom: 36px;
}
.seventhSection .bottom .columns .market {
  grid-area: market;
}
.seventhSection .bottom .columns .burned {
  grid-area: burned;
}
.seventhSection .bottom .columns .current {
  grid-area: current;
}
.seventhSection .bottom .columns .column {
  border-left: 1px solid #211b2c;
  padding-left: 16px;
}
.seventhSection .bottom .columns .column:nth-child(1) {
  border: none;
  padding: 0;
}
.seventhSection .bottom .columns .column:nth-child(4) {
  border: none;
  padding: 0;
}
.seventhSection .bottom .columns .column p:nth-child(1) {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #b8add2;
}
.seventhSection .bottom .columns .column p:nth-child(2) {
  font-weight: 600;
  line-height: 1.1;
  font-size: 24px;
  color: #f4eeff;
}

@media screen and (max-width: 970px) {
  .seventhSection {
    padding: 80px 24px;
  }
  .seventhSection .top .content .title {
    font-size: 32px;
  }
}
@media screen and (max-width: 850px) {
  .seventhSection {
    padding: 80px 24px;
    position: relative;
  }
  .seventhSection .top {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
  }
  .seventhSection .top .content {
    margin: 0;
  }
  .seventhSection .top .content .title {
    max-width: none;
  }
  .seventhSection .top .content .text {
    max-width: none;
  }
  .seventhSection .top .images {
    width: 192px;
    height: 192px;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .seventhSection .top .images .first {
    right: 0;
  }
  .seventhSection .bottom .columns {
    grid-template-areas: "circulating market" "total burned" "max current";
  }
  .seventhSection .bottom .columns .column {
    margin-bottom: 16px;
  }
  .seventhSection .bottom .columns .column:nth-child(2) {
    border: none;
    padding: 0;
  }
  .seventhSection .bottom .columns .column:nth-child(3) {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
  .seventhSection .bottom .columns .column:nth-child(4) {
    border-left: 1px solid #211b2c;
    padding-left: 16px;
  }
  .seventhSection .bottom .columns .column:nth-child(6) {
    border-left: 1px solid #211b2c;
    padding-left: 16px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .seventhSection {
    padding: 64px 24px;
  }
}/*# sourceMappingURL=seventhSection.css.map */