@use "../atomic/root/root.scss";
@import "../variables.scss";

@keyframes first {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes second {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes third {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.sectionThird { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 24px;
  background: $colors-background;

  .svg {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;

    img {
      width: 100%;
    }
  }

  .main {
    display: flex;
    max-width: 920px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 64px;
      .title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.1;
        color: $colors-text;
        max-width: 428px;
        margin-bottom: 24px;
        span {
          color: $colors-secondary;
        }
      }

      .text-content {
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 24px;
        font-size: 16px;
        max-width: 428px;
        color: $colors-textSubtle;
      }
    }

    .main-images {
      .images {
        position: relative;
        width: 428px;
        height: 428px;
        img {
          width: 100%;
          height: 100%;
        }
        .first {
          position: absolute;
          animation-name: first;
          animation-timing-function: ease-in-out;
          animation-duration: 3s;
          animation-delay: 1s;
          animation-iteration-count: infinite;
        }
        .second {
          position: absolute;
          animation-name: second;
          animation-timing-function: ease-in-out;
          animation-duration: 3s;
          animation-delay: 660ms;
          animation-iteration-count: infinite;
        }
        .third {
          position: absolute;
          animation-name: third;
          animation-timing-function: ease-in-out;
          animation-duration: 3s;
          animation-delay: 330ms;
          animation-iteration-count: infinite;
        }
      }
    }
    .button-link {
      display: flex;
      .button {
        width: 128px;
        height: 48px;
        button {
          background-color: $colors-primary;
          height: 100%;
          width: 100%;
          border-radius: 16px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          font-family: inherit;
          letter-spacing: 0.03rem;
          border: none;
          transition: 0.2s;
          &:hover {
            background-color: #10848e;
          }
          &:active {
            transform: translate(0px, 1px);
          }
        }
      }
      .link {
        margin-left: 16px;
        display: flex;
        align-items: center;
        a {
          color: $colors-primary;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@include root.media("laptop") {
  .sectionThird {
    padding: 80px 24px;
    .main {
      .content {
        .title {
          font-size: 32px;
        }
      }
    }
  }
}

@include root.media("tablet") {
  .sectionThird {
    padding: 80px 24px;
    .main {
      width: 100%;
      flex-direction: column-reverse;

      .content {
        margin-top: 20px;
        margin-right: 0;
        .title {
          max-width: none;
        }

        .text-content {
          max-width: none;
        }
      }

      .main-images {
        display: flex;
        justify-content: flex-end;

        .images {
          width: 192px;
          height: 192px;
        }
      }
    }
  }
}

@include root.media('mobile') {
  .sectionThird {
    padding: 64px 24px;
  }
}
