@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Dark thme colors */
.nav {
  position: fixed;
  top: -56px;
  left: 0px;
  transition: top 0.2s ease 0s;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 2;
}
.nav.top {
  top: 0;
}
.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #27262c;
  border-bottom: 1px solid #383241;
  transform: translate3d(0px, 0px, 0px);
  padding-left: 16px;
  padding-right: 16px;
  transition: top 0.2s ease 0s;
  z-index: 20;
}
.nav .header-left {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav .header-left__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .header-left__logo a img {
  width: 160px;
}
@media screen and (max-width: 993px) {
  .nav .header-left__logo a .logo-desktop {
    display: none;
  }
}
.nav .header-left__logo a .logo-mobile {
  display: none;
}
@media screen and (max-width: 993px) {
  .nav .header-left__logo a .logo-mobile {
    display: block;
    width: 32px;
  }
}
.nav .header-left__links {
  display: flex;
  margin-left: 24px;
}
.nav .header-left__links .link-head {
  position: relative;
}
.nav .header-left__links .link-head a {
  position: relative;
  display: flex;
  align-items: center;
  color: #b8add2;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  pointer-events: inherit;
  padding: 0px 16px;
  height: 48px;
}
.nav .header-left__links .link-head a:hover {
  background: #353547;
  border-radius: 16px;
}
.nav .header-left__links .link-content {
  position: absolute;
  background-color: #27262c;
  border: 1px solid #383241;
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 0px;
  width: 280px;
  z-index: 1001;
  visibility: hidden;
}
.nav .header-left__links .link-content a {
  align-items: center;
  border: 0px;
  background: transparent;
  color: #b8add2;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: space-between;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  pointer-events: inherit;
}
.nav .header-left__links .link-content a:hover {
  background-color: #353547;
}
.nav .header-left__links .link-content a:hover:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav .header-left__links .link-content a:hover:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav .header-left__links .link-content a .enter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .header-left__links .link-1:hover .link-content {
  visibility: visible;
  display: block;
}
.nav .header-left__links .link-2:hover .link-content {
  visibility: visible;
}
.nav .header-left__links .link-3:hover .link-content {
  visibility: visible;
}
.nav .header-left__links .link-4:hover .link-content {
  visibility: visible;
}
.nav .header-left__links .link-5:hover .link-content {
  visibility: visible;
}
@media screen and (max-width: 852px) {
  .nav .header-left__links {
    display: none;
  }
}
.nav .header-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav .header-right .currency-price {
  display: block;
  margin-right: 12px;
}
.nav .header-right .currency-price a {
  display: flex;
  align-items: center;
}
.nav .header-right .currency-price a img {
  transition: transform 0.3s ease 0s;
  flex-shrink: 0;
  margin-right: 8px;
}
.nav .header-right .currency-price a img:hover {
  transform: scale(1.2);
}
.nav .header-right .currency-price a .text-currency {
  color: #b8add2;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
@media screen and (max-width: 993px) {
  .nav .header-right .currency-price {
    display: none;
  }
}
.nav .header-right .lang-select-container {
  margin-top: 4px;
}
.nav .header-right .lang-select-container .lang-select {
  position: relative;
}
.nav .header-right .lang-select-container .lang-select button {
  background: transparent;
  border: none;
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 20px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: transparent;
  color: #1fc7d4;
  vertical-align: sub;
  box-shadow: none;
}
.nav .header-right .lang-select-container .lang-select button img {
  margin-right: 0.5rem;
}
.nav .header-right .lang-select-container .lang-select button:hover {
  opacity: 0.65;
}
.nav .header-right .lang-select-container .lang-select-content {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: auto;
  background-color: #27262c;
  box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, 0.1), 0px 1px 1px rgba(25, 19, 38, 0.05);
  padding: 16px;
  max-height: 200px;
  overflow: auto;
  z-index: 10;
  border-radius: 4px;
  opacity: 0;
  transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
  will-change: opacity;
  display: none;
}
.nav .header-right .lang-select-container .lang-select-content button {
  position: relative;
  align-items: center;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  background-color: transparent;
  box-shadow: none;
  color: #f4eeff;
  padding: 0px 8px;
  border-radius: 8px;
  min-height: 32px;
  height: auto;
}
.nav .header-right .lang-select-container .lang-select-content::-webkit-scrollbar-thumb {
  background: #b8add2;
  border-radius: 8px;
}
.nav .header-right .lang-select-container .lang-select-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #372f47;
  border-radius: 10px;
}
.nav .header-right .lang-select-container .lang-select-content::-webkit-scrollbar {
  width: 8px;
}
.nav .header-right .lang-select-container .lang-select:hover .lang-select-content {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  display: flex;
}
.nav .header-right .settings {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav .header-right .settings button {
  background: transparent;
  border: none;
  padding: 0px;
  width: 32px;
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: transparent;
  color: #1fc7d4;
  box-shadow: none;
  margin-right: 8px;
}
.nav .header-right .settings button:hover {
  opacity: 0.65;
}
.nav .header-right .network-select {
  height: 100%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav .header-right .network-select-link {
  align-items: center;
  background-color: #353547;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  padding-left: 32px;
  padding-right: 8px;
  position: relative;
}
.nav .header-right .network-select-link .link-img {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 102;
}
.nav .header-right .network-select-link .link-img img {
  max-height: 32px;
  max-width: 32px;
  width: 100%;
}
.nav .header-right .network-select-link .link-text {
  color: #f4eeff;
  font-weight: 600;
  display: none;
}
@media screen and (min-width: 576px) {
  .nav .header-right .network-select-link .link-text {
    display: block;
    margin-left: 8px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 1080px) {
  .nav .header-right .network-select-link .link-text-desktop {
    display: none;
  }
}
.nav .header-right .network-select-link .link-text-mobile {
  display: none;
}
@media screen and (max-width: 1080px) {
  .nav .header-right .network-select-link .link-text-mobile {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .nav .header-right .network-select-link .link-text-mobile {
    display: none;
  }
}
.nav .header-right .network-select .network-select-content {
  background-color: #27262c;
  border: 1px solid #383241;
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 280px;
  z-index: 1001;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: calc(10% - 70px);
}
@media screen and (max-width: 1080px) {
  .nav .header-right .network-select .network-select-content {
    left: calc(10% - 136px);
  }
}
.nav .header-right .network-select .network-select-content .network-select-text {
  padding: 8px 16px;
}
.nav .header-right .network-select .network-select-content .network-select-text .text-Subtle {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
.nav .header-right .network-select .network-select-content button {
  align-items: center;
  border: 0px;
  background: transparent;
  color: #b8add2;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  -webkit-box-pack: justify;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.nav .header-right .network-select .network-select-content button img {
  color: transparent;
  max-height: 24px;
  height: auto;
  max-width: 100%;
}
.nav .header-right .network-select .network-select-content button .btn-text {
  font-weight: 600;
  line-height: 1.5;
  padding-left: 12px;
  font-size: 16px;
}
.nav .header-right .network-select .network-select-content button.active .btn-text {
  color: #9a6aff;
}
.nav .header-right .network-select .network-select-content button:hover {
  background-color: #353547;
}
.nav .header-right .network-select .network-select-content button:hover:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav .header-right .network-select .network-select-content button:hover:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nav .header-right .network-select:hover .network-select-content {
  visibility: visible;
}
.nav .header-right .connect-wallet-btn {
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: #1fc7d4;
  color: #191326;
}
.nav .header-right .connect-wallet-btn:hover {
  opacity: 0.65;
}
@media screen and (max-width: 852px) {
  .nav .header-right .connect-wallet-btn-desktop {
    display: none;
  }
}
.nav .header-right .connect-wallet-btn-mobile {
  display: none;
}
@media screen and (max-width: 852px) {
  .nav .header-right .connect-wallet-btn-mobile {
    display: block;
  }
}
.nav hr {
  border-color: #383241;
  border-style: solid;
  border-width: 1px 0px 0px;
  margin: 4px 0px;
}

.sectionsContainer {
  margin-top: 56px;
}

.mobile-nav {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background: #27262c;
  border-top: 1px solid #383241;
  display: flex;
  justify-content: space-around;
  z-index: 20;
}
@media screen and (min-width: 852px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav-link a, .mobile-nav-btn a {
  display: block;
  border: 0px;
  background: transparent;
  cursor: pointer;
  height: 44px;
  padding: 4px 12px;
}
.mobile-nav-link a .container, .mobile-nav-btn a .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav-link a .container img, .mobile-nav-btn a .container img {
  height: 22px;
  width: 21px;
  z-index: 0;
  fill: #b8add2;
}
.mobile-nav-link button, .mobile-nav-btn button {
  display: block;
  border: 0px;
  background: transparent;
  cursor: pointer;
  height: 44px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.mobile-nav-link button .container, .mobile-nav-btn button .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav-link button .container img, .mobile-nav-btn button .container img {
  height: 22px;
  width: 21px;
  z-index: 0;
  fill: #b8add2;
}
.mobile-nav-link button:hover, .mobile-nav-btn button:hover {
  background: #353547;
}
.mobile-nav-link button.active .mobile-nav-menu, .mobile-nav-btn button.active .mobile-nav-menu {
  display: block;
}
.mobile-nav-link-text, .mobile-nav-btn-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #b8add2;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}
.mobile-nav-link.active .mobile-nav-menu, .mobile-nav-btn.active .mobile-nav-menu {
  display: block;
  z-index: 21;
}
.mobile-nav-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: red;
  background-color: #27262c;
  border: 1px solid #383241;
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 13px;
  pointer-events: auto;
  margin-bottom: 0px;
  width: calc(100% - 32px);
  visibility: visible;
  z-index: 1001;
  position: absolute;
  inset: auto auto 0px 0px;
  transform: translate3d(0px, -50px, 0px);
  z-index: 21;
  left: 15px;
}
.mobile-nav-menu a {
  color: #b8add2;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
}
.mobile-nav-menu a div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-menu hr {
  border-color: #383241;
  border-style: solid;
  border-width: 1px 0px 0px;
  margin: 4px 0px;
}

.overlay.active {
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 238, 255, 0.6);
  z-index: 18;
  transition: all 350ms ease-out;
}

#modal::before {
  transition: 350ms;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(244, 238, 255, 0.6);
  z-index: 21;
  transition: 350ms;
}

.modal-content {
  box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
  width: 100%;
  background: #27262c;
  max-height: calc(var(9.5px, 1vh) * 100);
  z-index: 100;
  position: absolute;
  min-width: 320px;
  bottom: 0px;
  min-height: 300px;
  max-width: none !important;
  overflow: hidden;
  border-radius: 32px 32px 0px 0px;
  animation: 0.3s ease-in-out 0s 1 normal forwards running gSuUIu;
}
@media screen and (min-width: 852px) {
  .modal-content {
    width: auto;
    bottom: auto;
    max-height: 100vh;
    border-radius: 32px;
    animation: 0s ease 0s 1 normal none running none;
    left: calc(50% - 258px);
    top: calc(50% - 239px);
  }
}
.modal-content .theme-select {
  position: relative;
  width: 56px;
  height: 32px;
  overflow: hidden;
}
.modal-content .theme-select-outer {
  position: relative;
  will-change: opacity;
}
.modal-content .theme-select-outer.appear {
  animation: 0.3s ease-in-out 0s 1 normal forwards running fGxCd;
}
.modal-content .theme-select-inner {
  align-items: center;
  background-color: #666171;
  border-radius: 24px;
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}
.modal-content .theme-select-inner input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.modal-content .theme-select-inner input:checked + .selected-theme {
  right: calc(100% - 30px);
}
.modal-content .theme-select-inner input:hover + .selected-theme {
  box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
}
.modal-content .theme-select-inner .selected-theme {
  background-color: #27262c;
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  right: 3px;
  position: absolute;
  top: 3px;
  transition: right 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}
.modal-content .theme-select-inner .selected-theme div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal-content .theme-select-inner .selected-theme div img {
  align-self: center;
  fill: #9a6aff;
  flex-shrink: 0;
}
.modal-content .theme-select-inner .theme-selection-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modal-content-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(166.77deg, #3b4155, #3a3045);
  padding: 12px 24px;
}
.modal-content-header span {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: #f4eeff;
}
@media screen and (min-width: 968px) {
  .modal-content-header span {
    font-size: 20px;
  }
}
.modal-content-header button {
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  background-color: transparent;
  color: #1fc7d4;
  box-shadow: none;
  padding: 0px;
  width: 48px;
}
.modal-content-middle {
  flex-direction: column;
  overflow: hidden auto;
  max-height: calc(90vh - 73px);
  padding: 24px;
  display: flex;
}
@media screen and (min-width: 852px) {
  .modal-content-middle {
    max-height: 90vh;
  }
}
.modal-content-middle ul > li {
  display: flex;
  justify-content: space-between;
}
.modal-content-middle ul > li span {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
.modal-content-middle ul > li:first-child {
  color: #9a6aff;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 18px;
}
.modal-content-middle ul > li:not(:last-child) {
  margin-bottom: 24px;
}
.modal-content-middle ul > li:last-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.modal-content-middle ul > li:last-child span {
  margin-bottom: 24px;
}
.modal-content-middle ul > li:last-child .li-btns {
  display: flex;
}
@media screen and (max-width: 480px) {
  .modal-content-middle ul > li:last-child .li-btns {
    flex-wrap: wrap;
  }
}
.modal-content-middle ul > li:last-child .li-btns button {
  position: relative;
  align-items: center;
  white-space: nowrap;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: #1fc7d4;
  color: #191326;
  margin-top: 4px;
  margin-right: 4px;
}/*# sourceMappingURL=index.css.map */